version: '3.8'

services:
  mongodb:
    image: mongo:latest
    container_name: application_mongo_db
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: password123
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data: